{% block css %}
    <style>
        .block_content {
            height: 100%;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50vw;
            margin-top: 20px;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 600px) {
            .container {
                width: 95vw;
            }
        }
        @media screen and (max-width: 992px) {
            .container {
                width: 85vw;
            }
        }

        .container .card .card-body .card-text {
            white-space: pre-line;
        }

        .container .card .card-interact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .container .card .card-interact .like {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            padding: 3px 10vw;
            border-radius: 2px;
        }

        .container .card .card-interact .like:hover {
            background-color: rgb(242, 242, 242);
        }

        .container .card .card-interact .comment {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            padding: 3px 10vw;
            border-radius: 2px;
        }

        .container .card .card-interact .comment:hover {
            background-color: rgb(242, 242, 242);
        }
        
        .container .card .card-interact .share {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            padding: 3px 10vw;
            border-radius: 2px;
        }

        .container .card .card-interact .share-button:hover .share:hover {
            background-color: rgb(242, 242, 242);
        }

        .number {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 5px;
            padding: 0;
            user-select: none;
        }

        .share-button {
            border: none;
            background-color: transparent;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        a:has(> .comment),
        a:has(> .like) {
            text-decoration: none;
            color: black;
        }
        .name {
            text-decoration: none;
            color: #0000EE;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            padding-top: 10px;
            width: 80%;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
    {% block css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="/">Blog</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        {% if session['user'] %}
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="#">Discover</a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link mx-lg-2" id="searchNav" style="cursor: pointer;">Search</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="/post">Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="/my_post">My Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="/following_posts">Following</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if session['user'] %}
                <a href="/user/user_id={{ session['user']['id'] }}" class="username">{{session['user'].username}}</a>
                <a href="/logout" class="logout-button">Logout</a>
            {% else %}
                <a href="/login" class="login-button">Login</a>
                <a href="/register" class="register-button">Register</a>
            {% endif %}
            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div style="width: 100%; margin-top: 120px;">
        {% block content %}{% endblock %}
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-bottom: 10px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="searchType">Post</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" style="cursor: pointer;">
                        <li><a class="dropdown-item">Post</a></li>
                        <li><a class="dropdown-item">Nickname</a></li>
                    </ul>
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 5px;">Search</button>
            </div>
        </div>

    </div>
    <script>
        var modal = document.getElementById("myModal")
        var btn = document.getElementById("searchNav")
        var span = document.getElementsByClassName("close")[0]

        // open the modal 
        btn.onclick = function() {
            modal.style.display = "block"
        }

        // close the modal
        span.onclick = function() {
            modal.style.display = "none"
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none"
            }
        }

        document.querySelectorAll(".dropdown-item").forEach(item => {
            item.addEventListener('click', function() {
                var text = this.textContent
                document.getElementById("searchType").innerText = text
            })
        })
    </script>
</body>

</html>