{% extends 'header.html' %}
{% block title %}Login{% endblock %}

{% block css %}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        h2 {
            margin-bottom: 20px;
        }

        .form_login {
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            padding: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }

        .form_login label {
            padding-bottom: 15px;
            margin-right: 15px;
        }

        .form_login input {
            padding: 3px 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form_login input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 8px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-bottom: 5px;
        }

        .form_login input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST" class="form_login">

            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input id="username" name="username_field" type="text" /></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input id="password" name="password_field" type="password" /></td>
                </tr>
            </table>
    
            <input type="submit" value="Login"/>
    
        </form>
    </div>
{% endblock %}