{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block css %}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50vw;
            margin-top: 20px;
        }
        @media screen and (max-width: 600px) {
            .container {
                width: 95vw;
            }
        }
        @media screen and (max-width: 992px) {
            .container {
                width: 85vw;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            {% if post.numImg > 0 %}
                {% for img in post['Imgs'] %}
                    <img src="data:{{ img['mimetype'] }};base64,{{ img['img'] }}" alt="{{ img['name'] }}" class="card-img-bottom">
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}