{% extends 'header.html' %}
{% block title %}Register{% endblock %}

{% block css %}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        h2 {
            margin-bottom: 20px;
        }

        .form_login {
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            padding: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }

        .form_login label {
            padding-bottom: 15px;
            margin-right: 15px;
        }

        .form_login input {
            padding: 3px 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form_login input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-bottom: 5px;
        }

        .form_login input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST" class="form_login" onsubmit="return validateForm()">

            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input id="username" name="username_field" type="text" required/></td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input id="email" name="email_field" type="text" required/></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input id="password" name="password_field" type="password" required/></td>
                </tr>
                <tr>
                    <td><label for="cpassword">Confirm Password</label></td>
                    <td><input id="cpassword" name="cpassword_field" type="password" required/></td>
                </tr>
            </table>
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    <div style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
                        {% for m in messages: %}
                            <p style="color: red; font-size: 13px;">{{m}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <input type="submit" value="Register"/>
    
        </form>
    </div>
    <script>
        function validateForm(){
            var username = document.getElementById('username').value
            var email = document.getElementById('email').value
            var pass = document.getElementById('password').value
            var c_pass = document.getElementById('cpassword').value

            if (pass != c_pass){
                alert("Password and Confirm Password do not match!");
                return false;
            }
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                alert("Please enter a valid email address!");
                return false;
            }
            
            return True
        }
    </script>
{% endblock %}