{% extends 'header.html' %}
{% block title %}User profile{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/follow.css') }}">
<style>
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
    }

    .user-info {
        text-align: center;
        margin-bottom: 30px;
    }

    .user-info h2 {
        margin-bottom: 10px;
        color: #333;
        display: inline-block;
    }

    #followBtn {
        margin-bottom: 10px;
    }

    .user-info p {
        margin: 5px 0;
        color: #666;
    }

    .post {
        margin-bottom: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
    }

    .post h3 {
        margin-top: 0;
    }

    .post p {
        margin-bottom: 10px;
        color: #666;
    }

    .post p {
        margin-bottom: 10px;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .edit {
        display: block;
    }

    .noti {
        color: red;
    }

    .post-name {
        text-decoration: none;
        color: #0000EE;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="user-info">
        <div class="header-container row">
            <div class="col-4"></div>
            <h2 class="col-4">User Profile</h2>
            {% if is_my_profile == False %}
            <div class="col-4">
                {% if is_following == False %}
                <button id="followBtn" class="btn btn-primary" data-follower-id="{{ session['user']['id'] }}"
                    data-following-id="{{ user['id'] }}">Follow</button>
                {% else %}
                <button id="followBtn" class="btn btn-secondary following"
                    data-follower-id="{{ session['user']['id'] }}"
                    data-following-id="{{ user['id'] }}">Unfollow</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <p>Name: {{ user['nickname'] }}</p>
        <p>Email: {{ user['email'] }}</p>
        {% if is_my_profile == True %}
        <span>Password: </span>
        <button type="button" class="change-password btn btn-primary">
            <svg class="edit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
            </svg>
        </button>
        {% endif %}
    </div>
    <h3>User's Posts</h3>
    {% if posts != None %}
    {% for post in posts %}
    <div class="post">
        <h3><a href="{{ url_for('get_post_detail', post_id=post['id']) }}" class="post-name">{{ post['title'] }}</a></h3>
        <p>{{ post['content'] }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% if is_my_profile == True %}
<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Change password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="userId" value="{{ user['id'] }}">
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                </form>
                <span class="noti"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-outline-success edit-password" role="button" style="margin-right: 5px;">Change</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if is_my_profile == False %}
<script src="{{ url_for('static', filename='js/follow.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/changePassword.js') }}"></script>
{% endif %}
{% endblock %}